<style>
    @font-face {
        font-family: "Open 24 Display St";
        src: url('./../assets/font/Open-24-Display-St.ttf');
    }

    .botones {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    input {
        width: 80%;
        border: 0;
        background-color: black;
        color: white;
        font-size: 15vh;
        text-align: end;
    }

    div {
        display: flex;
    }
.content-pantalla button{
    width: 20%;
}
    button {
        width: 13vh;
        height: 13vh;
        border-radius: 100%;
        font-size: 3.5em;
        margin: 0.3%; 
    }

    .cero {
        width: 30vh;
        border-radius: 50vh;
        text-align: left;
        padding-left: 35px;
        padding-right: 100px;
    }


    .pantalla-calculadora {
        background-color: black;
    }

    .calculadora {
        font-family: 'Open 24 Display St';
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .pantalla {
        width: 100%;
        justify-content: center;

    }

    .pantalla-botones {
        display: flex;
    
    }

    .ColorGris {
        background-color: rgb(195, 187, 187);
    }

    .ColorNaranja {
        background-color: orange;
    }
    .botones-fx{
        justify-content: center;
    }
    .botones-num{
        justify-content: center;
    }
    .content-pantalla{
        align-items: center;
        background-color: black;
        width: 30%;
    }
@media (max-width: 780px){
    .content-pantalla{
        width: 80%;
    }
}

</style>
</head>
<body>
    <div></div>
<div class="calculadora">
    <div class="container-pantalla">
        <div class="pantalla">
            <div class="content-pantalla">
                <input type="text" id="display">
                <button onclick="borrarCaracter()">AC</button>
            </div>
        </div>
    </div>
    <div class="container-btn">
        <div class="botones">
            <div class="botones-fx">
                <button onclick="borrar()">AC</button>
                <button onclick="agregarCaracter('(')">(</button>
                <button onclick="agregarCaracter(')')">)</button>
                <button class="ColorNaranja" onclick="agregarCaracter('/')">/</button>
            </div>
            <div class="botones-num">
                <button class="ColorGris" onclick="num(7)">7</button>
                <button class="ColorGris" onclick="num(8)">8</button>
                <button class="ColorGris" onclick="num(9)">9</button>
                <button class="ColorNaranja" onclick="agregarCaracter('*')">*</button>
            </div>
            <div class="botones-num">
                <button class="ColorGris" onclick="num(4)">4</button>
                <button class="ColorGris" onclick="num(5)">5</button>
                <button class="ColorGris" onclick="num(6)">6</button>
                <button class="ColorNaranja" onclick="agregarCaracter('-')">-</button>
            </div>
            <div class="botones-num">
                <button class="ColorGris" onclick="num(1)">1</button>
                <button class="ColorGris" onclick="num(2)">2</button>
                <button class="ColorGris" onclick="num(3)">3</button>
                <button class="ColorNaranja" onclick="agregarCaracter('+')">+</button>
            </div>
            <div class="botones-num">
                <button class="ColorGris cero" onclick="num(0)">0</button>
                <button class="ColorGris punto" onclick="agregarCaracter('.')">.</button>
                <button class="ColorNaranja igual" onclick="calcular()">=</button>
            </div>
            </div>
        </div>
    </div>

<script>
    // Obtener el elemento de la pantalla
    pantallita = document.getElementById("display");

    // Función para borrar el contenido de la pantalla
    function borrar() {
        pantallita.value = "";
    }
    function borrarCaracter(){
        pantallita.value = document.getElementById("display").value.slice(0,-1)
    }

    // Función para agregar caracteres a la pantalla
    function agregarCaracter(caracter) {
        pantallita.value += caracter;
    }

    // Función para realizar el cálculo
    function calcular() {
        try {
            pantallita.value = eval(pantallita.value);
        } catch (error) {
            pantallita.value = "Error";
        }
    }

    // Función para agregar números a la pantalla
    function num(numero) {
        pantallita.value += numero;
    }
</script>
</body>