<!DOCTYPE html>
<html>

<head>
  <title>TP N2 - Calculadora - SEGUNDO MODELO NICOLAS SALDAÑA</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>

<body>
  <div>
    <%- include(`${content}`) %> 
  </div>
</body>

</html>